<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <!-- Здесь должны находиться объявления компонентов -->
    <bean id="client" class="main.logic.Client" scope="prototype"/>
    <bean id="account" class="main.logic.Account" scope="prototype"/>
    <bean id="document" class="main.logic.Document" scope="prototype"/>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.h2.Driver" />
        <property name="url" value="jdbc:h2:tcp://localhost/~/test" />
        <property name="username" value="sa" />
        <property name="password" value="" />
    </bean>

    <bean id="ClientDaoImpl" class="main.jdbcWork.ClientDaoImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <bean id="AccountDaoImpl" class="main.jdbcWork.AccountDaoImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <bean id="DocumentDaoImpl" class="main.jdbcWork.DocumentDaoImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
</beans>
